body {
    background-color: lightblue;
}
#query {
    border-radius: 25px;
    padding-top: 25px;
    background-color: lightgreen;
    width: 350px;
    height: 50px;
}

#searchField {

    text-align: center;
    display: inline-block;

}

#submitQuery {
    display: inline-block
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#submitQuery:hover {
    background-color: #4CAF50;
    color: white;
}

#keywordBubble {
    border-radius: 15px;
    padding-top: 10px;
    width: 75%;
    height: 300px;
    background-color: #ffffff; 
}

#listLinks {
    padding-top: 10px;
    border-radius: 15px;
    width: 75%;
    height: 500px;
    background-color: lightgreen;

}

#links{
    text-align: left;
}

.floatingKeyword {
    border-radius: 100%;
    background-color: lightgreen;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 3px solid #73AD21;
    text-align: center;
    top: 50%;
    left: 50%;
    vertical-align: middle;

}

.highlighted {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}
